#corpopagina
  %h1
    Placa compartilhada
  %p
    Olá #{@compartilha['destinatario']}, 
  %p  
    #{@compartilha['nome']} esteve no site <a url='http://www.nomade.net.br'> Nomade </a> e compartilhou o anuncio da placa abaixo com você.
    %br

    = link_to 'Clique aqui para visualizar a placa','http://nomade.net.br'+placa_path(@placa)

  %p
    Caso o link acima não esteja funcionando copie e cole no seu navegador predileto o endereço: 
    %br
    %b
      http://nomade.net.br#{placa_path(@placa)}

  %p  
    A equipe Nomade agradece,
  %p  
    = link_to 'http://www.nomade.net.br', 'http://www.nomade.net.br'

