- if @modal.nil?
  .conteudo
    %p
      = form_tag :controller => :sessions, :action => :create do
        Login
        = text_field_tag 'login'
        %p
        Senha
        = password_field_tag 'senha'
        %p
        .action
        = submit_tag 'Entrar', :class => 'botao'
        .label  
        = link_to 'Novo no Nomade? Crie seu usuario', new_usuario_path
- else
  #corpopaginalogin
    .header_info
      Login
    .conteudo
      
      - if flash[:notice]
        %p
        #notice
          = flash[:notice]
      %p
        = form_tag :controller => :sessions, :action => :create do
          Login
          = text_field_tag 'login'
          %p
          Senha
          = password_field_tag 'senha'
          %p
          .action
            = submit_tag 'Entrar', :class => 'botao'
          .label  
          = link_to 'Novo no Nomade? Crie seu usuario', new_usuario_path

