#sitelinks
  %ul
    %li
      = link_to 'Cadastrar Placa', new_placa_path 
    - if @current_usuario == nil
      %li
        = link_to 'Crie seu usuario', new_usuario_path
    - else
      - if @current_usuario.imobiliarium == nil
        %li
          = link_to 'Cadastrar imobiliaria', new_imobiliarium_path 
      - else
        %li
          = link_to 'Editar imobiliaria', edit_imobiliarium_path(@current_usuario.imobiliarium)
        %li
          = link_to 'Listar minhas placas', list_path
    -if @current_usuario != nil
      %li
        = '['+@current_usuario.login+']'
        = link_to 'Logout', logout_path
    - else
      %li    
        //= link_to 'Login', login_path(:modal=>1), :remote => true
        = link_to 'Login', login_path
        
  .links_opcoes_left
    .main_text_light
      .sitelink
        = link_to 'Cadastrar Placa', new_placa_path 
        - if @current_usuario == nil
          %br
          = link_to 'Crie seu usuario', new_usuario_path
        - else
          - if @current_usuario.imobiliarium == nil
            %br
            = link_to 'Cadastrar imobiliaria', new_imobiliarium_path 
          - else
            %br
            = link_to 'Editar imobiliaria', edit_imobiliarium_path(@current_usuario.imobiliarium)
            %br
            = link_to 'Listar minhas placas', list_path
        %br
        %script{:src => "http://connect.facebook.net/pt_BR/all.js#xfbml=1"}
        %fb:like{:href => "http://www.nomade.net.br", :layout => "button_count", :show_faces => "false"}
        -if @current_usuario != nil
          = '['+@current_usuario.login+']'
          = link_to 'Logout', logout_path
          %br
        - else
          //= link_to 'Login', login_path(:modal=>1), :remote => true
          = link_to 'Login', login_path
          %br
        = link_to 'Follow', 'http://www.twitter.com/buscanomade', :target => "_blank"
        = link_to image_tag('/images/tw_logo2.png'), 'http://www.twitter.com/buscanomade', :target => "_blank"
        %br