= form_for @imobiliarium do |f|
  -if @imobiliarium.errors.any?
    #error_explanation
      %h2= "#{pluralize(@imobiliarium.errors.count, "erro")} - verifique as informações para que a imobiliária seja cadastrada:"
      %ul
        - @imobiliarium.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label "Imobiliária: "
    = f.text_field :nome
  .field
    = f.label "CNPJ: "
    = f.text_field :cnpj
  .field
    = f.label "Site: "
    = f.text_field :site
  .field
    = f.label "Email: "
    = f.text_field :email
  .field
    = f.label "Telefone: "
    = f.text_field :telefone
  .field
    = f.label "Endereço: "
    = f.text_field :endereco
  .field
    = f.label "Imagem do logo: "
    = f.file_field :imagem
  #botao
    .actions
      = f.submit 'Salvar', :class => 'botao'


