#corpopaginalogin
  %p#notice= notice

  %p
    %b Usuario(login):
    = @imobiliarium.usuario.login
  %p
    %b Nome:
    = @imobiliarium.nome
  %p
    %b Cnpj:
    = @imobiliarium.cnpj
  %p
    %b Site:
    = @imobiliarium.site
  %p
    %b Email:
    = @imobiliarium.email
  %p
    %b Telefone:
    = @imobiliarium.telefone
  %p
    %b Endereco:
    = @imobiliarium.endereco

  = link_to 'Cadastrar Placa', new_placa_path

