%p
  Placa a ser denunciada:
  - urldetalhe = (url_for(:action => 'detalhe', :id => @placa.id, :controller => 'placas', :only_path => false, :protocol => 'http'))
  - urlshow = (url_for(:action => 'show', :id => @placa.id, :controller => 'placas', :only_path => false, :protocol => 'http'))

  =link_to urlshow, urldetalhe

= form_tag "/placas/"+@placa.id.to_s+"/denuncia" do
  %p
    = label_tag 'Motivo da denuncia:'
    %br
    = text_area_tag 'descricao',nil, :rows => 6, :cols => 40
  %p
    = submit_tag 'Enviar', :class => 'botao'
