= form_for @categoria_placa do |f|
  -if @categoria_placa.errors.any?
    #error_explanation
      %h2= "#{pluralize(@categoria_placa.errors.count, "error")} prohibited this categoria_placa from being saved:"
      %ul
        - @categoria_placa.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :desc
    = f.text_field :desc
  .field
    = f.label :image
    = f.text_field :image
  .actions
    = f.submit 'Save'
