#corpo
  %h1 Listing categoria_placas
  .header_info
    Lista de categoria placa
  %p
  %table
    %tr
      %th Desc
      %th Image
      %th
      %th
      %th

    - @categoria_placas.each do |categoria_placa|
      %tr
        %td= categoria_placa.image
        %td= categoria_placa.desc
        %td= link_to 'Show', categoria_placa
        %td= link_to 'Edit', edit_categoria_placa_path(categoria_placa)
        %td= link_to 'Destroy', categoria_placa, :confirm => 'Are you sure?', :method => :delete

  %br

  = link_to 'New Categoria placa', new_categoria_placa_path
