#corpo
  %p#notice= notice

  %p
    %b Desc:
    = @categoria_placa.desc
    %b Image:
    = @categoria_placa.image
  = link_to 'Edit', edit_categoria_placa_path(@categoria_placa)
  \|
  = link_to 'Back', categoria_placas_path
