#mapedit
  - if params[:id] == nil
    = gmaps("markers" => {"data" => @json, "options" => { "draggable" => true}}, "map_options" => {"libraries" => ["places"], "processing" => "json", "auto_adjust" => true, "auto_zoom" => false, "zoom" => 13  })
  - else
    = gmaps("markers" => {"data" => Placa.find(params[:id]).to_gmaps4rails, "options" => { "draggable" => true}}, "map_options" => {"libraries" => ["places"], "processing" => "json", "auto_adjust" => true, "auto_zoom" => false, "zoom" => 13  })
%br
= form_for @placa do |f|
  -if @placa.errors.any?
    #error_explanation
      %h2= "#{pluralize(@placa.errors.count, "erro")} - verifique as informações para que a placa seja colocada:"
      %ul
        - @placa.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label "Endereço"
    = f.text_field :endereco
    = f.label "Ocultar"
    = f.check_box :ocultar 
  .field
    = f.label "Descrição"
    %br
    = f.text_area :desc, :rows=>6, :cols=>80
  .field
    = f.label "Tipo de imóvel"
    = f.select :tipo_placa_id, pegatipos, {:multiple => false}
  .field
    = f.label "Categoria do imóvel"
    = f.select :categoria_placa_id, pegacategorias, {:multiple => false}
  .field
    = f.label "Número de quartos"
    = f.number_field :quartos
  .field
    = f.label "Vagas na garagem"
    = f.number_field :vagas 
  .field
    = f.label "Andar"
    = f.number_field :andar 
  .field
    = f.label "Valor"
    = f.text_field :valor 
  .field
    = f.label "Condominio"
    = f.text_field :condominio 
  %fields
    = f.fields_for :observacaos do |builder|
      = render "observacao_fields", :f => builder
  .field
    = link_to_add_fields "Adicionar mais uma observação", f, :observacaos
  .field
    = f.hidden_field :latitude
  .field
    = f.hidden_field :longitude
  .actions
    = f.submit 'Colocar a placa', :id =>"send", :class => 'botao'