#corpopaginaplaca
  .header_info
    Detalhes da placa
  .corpo_detalhe
    .destaque_detalhe
      %p
        = @placa.desc
      %p  
        = pegaendereco
      %p  
        R$
        = @placa.valor
      %p
        Código:
    .coluna_esquerda
      .carrossel_fotos
        - if @placa.fotos.any?
          = image_tag @placa.fotos[0].imagem_url.to_s, :class => 'img_principal_placa', :id => 'mainImg'
          .fotos_placa  
            %ul#mycarousel_detalhe.jcarousel-skin-tango
              - @placa.fotos.each do |foto|
                %li
                  = link_to image_tag(foto.imagem_url(:thumb).to_s), foto.imagem_url.to_s, :title => foto.descricao, :class => 'link_fotos_detalhe'
      
      %ul.botoes_placa_detalhe
        %li.add_lista
          = link_to 'Adicionar na lista de interesses', '/'
        %li.compartilha_email
          = link_to 'Compartilhar por email', '/'
      .sobre_imovel
        .header
          Sobre o imóvel
        .conteudo
          %p
            = @placa.obs
          %p
            %b Quartos:
            = @placa.quartos
          %p
            %b Andar:
            = @placa.andar
          %p
            %b Vagas na garagem:
            = @placa.vagas
      
      .valores
        .header
          Valores
        .conteudo
          %p
            %b Preço:
            %span
              R$
              = @placa.valor
          %p
            %b Condomínio:
            %span
              R$
              = @placa.condominio
      

    .coluna_direita
      .imobiliaria_info
        .logo
          = link_to image_tag(@placa.imobiliarium.imagem_url(:thumb).to_s), @placa.imobiliarium.site, :target => "_blank"
        .texto
          = link_to @placa.imobiliarium.nome, @placa.imobiliarium.site, :target => "_blank", :class => "nome_imobiliaria"
          %p
            = @placa.imobiliarium.telefone
        
      .fazer_proposta
        .header
          Fazer Proposta
        .campos
          %p 
            Nome:
          %p
            Email:
          %p
            Telefone:
          %p
            Comentário: