.conteudo
  .descricao_foto
    %b Descrição:
    %label.lbl_desc_foto 
    = @placa.fotos[0].descricao
  = image_tag @placa.fotos[0].imagem_url.to_s, :class => 'img_principal_placa', :id => 'mainImg'
  .fotos_placa  
    %ul#mycarousel.jcarousel-skin-tango
      - @placa.fotos.each do |foto|
        %li
          .foto_placa
            = link_to image_tag(foto.imagem_url(:thumb).to_s), foto.imagem_url.to_s, :title => foto.descricao, :class => 'link_fotos'