#mapa
  #logo
  #popupteste
    #opcoes-modal
      =render 'opcoes'

  #infobox
    .main_text_light
      .sitelink
        %p
          = link_to 'Contato', 'contato'
        %p
          = link_to 'Sobre', 'sobre'

        %script{:src => "http://connect.facebook.net/pt_BR/all.js#xfbml=1"}
        %fb:like{:href => "http://www.nomade.net.br", :layout => "button_count", :show_faces => "false"}
        = link_to image_tag('/images/tw_logo2.png'), 'http://www.twitter.com/buscanomade', :target => "_blank"
        = link_to '@nomadeonline', 'http://www.twitter.com/buscanomade', :target => "_blank"
  #topbox
    = text_field_tag :location_search, nil, :size => 60, :type => "text", :class => "campo_pesquisa", :placeholder => "Busque pelo endereço"
    #border2
    #menu
  #sliderbox
    #border
    - if params[:minhas] != nil
      = hidden_field_tag :minhas, 1
    #categoria
      - CategoriaPlaca.all.each do |t| 
        - if t.desc != "todos"
          = radio_button_tag "optcategoria", t.id
          = label_tag t.desc
    %br
    #tipo  
      Tipo:
      = select_tag "selector_tipo", {:multiple => false}
      / = select_tag "selector_tipo", options_for_select(TipoPlaca.all.collect {|t| [ t.desc, t.id ] }, {:multiple => false})
    %br
    #quartos
      Quartos:
      = select_tag "selector_quartos", options_for_select(pegaquartos), :multiple => false
    %br
    #valor  
      Valor Limite:
      = select_tag "selector_valor", options_for_select([]), :multiple => false
      - if @current_usuario != nil
        - if @current_usuario.imobiliarium != nil
          %br
          Mostrar:
          = select_tag "selector_mostrar", options_for_select([["todos", "todos"], ["Minhas placas", @current_usuario.imobiliarium.id]]), :multiple => false

  = hidden_field_tag 'currentsel', 'teste' 
  = gmaps("markers" => {"data" => @json, "options" => { :raw => '{ animation: google.maps.Animation.DROP }', "draggable" => false, "zoomOnClick" => false, "do_clustering" => true, "clusterer_gridSize" => 50, "clusterer_maxZoom" => 25 } },"map_options" =>{ :raw => '{panControl: false, backgroundColor: "#BBEBC3", mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DEFAULT}}', "libraries" => ["places"],"processing" => "json", "auto_adjust" => false, "auto_zoom" => false, "zoom" => 12 ,"center_latitude" => -23.550602, "center_longitude" => -46.632982 } )