.conteudo
  %p
    - @placas.each do |placa|
      %p
        = placa.desc
      %p  
        = link_to placa.imobiliarium.nome, placa.imobiliarium.site, :target => "_blank"
      %p
        = link_to 'Ver detalhes', placa_detalhe_path(placa)
      %hr
