.conteudo
  %p
    .showcompartilha
    %b 
      = link_to @placa.imobiliarium.nome, @placa.imobiliarium.site, :target => "_blank"
  %p
    %b Telefone:
    = @placa.imobiliarium.telefone
  %p
    = @placa.tipo_placa.desc
  %p
    %b Numero de quartos:
    = @placa.quartos
  %p
    = @placa.desc
  %p
    %b Endereço:
    = pegaendereco
  %p
    %b Valor:
    R$
    = @placa.valor
  - if @placa.fotos.any?
    #modal-container
      #modal2
        .showfotos
          Exibir fotos do imóvel
  - else
    Não há fotos para desse imóvel
  
  %p
    = link_to 'Ver mais detalhes', placa_detalhe_path(@placa)
  %p
    = listainteresse(@placa)

  .showdenuncia