#corpopagina
  .header_info
    Minhas placas
  %p

  %table
    %tr
      %th Status
      %th Descrição
      %th Endereço
      %th Oculto
      %th Tipo
      %th Categoria
      %th Valor
      %th 
      %th
      %th

    - @placas.each do |placa|
      %tr
        - if placa.desabilitado?
          %td= "Abilitado"
        - else
          %td= "Desabilitado"
        %td= placa.desc
        %td= link_to placa.endereco, placa
        - if placa.ocultar?
          %td="Oculto"
        -else
          %td="Visivel"
        %td= placa.tipo_placa.desc
        %td= placa.categoria_placa.desc
        %td= placa.valor
        %td= link_to 'Alterar', placa_edit_path(placa)
        - if placa.desabilitado?
          %td= link_to 'Desabilitar', placa_desabilita_path(placa,0)
        - else
          %td= link_to 'Habilitar', placa_desabilita_path(placa,1)
          
          
  %br
