#corpopagina
  .header_info
    Adicionar placa no imóvel
  %p
  Busque aqui: 
  = text_field_tag :location_search, nil, :size => 100, :type => "search", :placeholder => "Busque pelo endereço aqui" 

  = render 'form'
%br
%br
