- if @current_usuario != nil
  - if @current_usuario.id == @placa.imobiliarium.usuario.id 
    #corpopaginaplaca
      .header_info
        Detalhes da placa
      .corpo_placa_show
        .informacoes
          %p
            %b Descrição:
            = @placa.desc
          %p
            %b Tipo:
            = @placa.tipo_placa.desc
          %p
            %b Imóvel:
            = @placa.categoria_placa.desc
          %p  
            %b Endereço:
            = @placa.endereco
          %p
            %b Observações:
            %ol
              - for obs in @placa.observacaos
                %li
                  = h obs.conteudo
          %p  
            %b Valor:
            R$
            = @placa.valor

          = link_to 'Alterar', edit_placa_path(@placa)

        .fotos
          .add_foto
            = link_to 'Adicionar uma nova foto', new_foto_path(:placa_id => @placa)

          - if @placa.fotos.any?
            .carrossel_fotos_show
              .fotos_placa_show
                %ul#mycarousel_show.jcarousel-skin-tango
                  - @placa.fotos.each do |foto|
                    %li
                      #thumb_foto_placa_show
                        = image_tag foto.imagem_url(:thumb).to_s, :title => foto.descricao
                      #acoes_foto_placa_show
                        = link_to image_tag('/images/altera_foto.png'), edit_foto_path(foto,:placa_id => @placa), :title => 'Alterar foto'
                        = link_to image_tag('/images/delete_foto.png'), foto, :confirm => 'Você tem certeza?', :method => :delete, :title => 'Apagar foto'