= form_for @usuario do |f|
  -if @usuario.errors.any?
    #error_explanation
      %h2= "Ops temos #{pluralize(@usuario.errors.count, "erro")}"
      %ul
        - @usuario.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :login
    = f.text_field :login
  .field
    = f.label :senha
    = f.password_field :senha
  Confirmação
  .field
    = f.label :senha
    = f.password_field :senha_confirmation
  .actions
    = f.submit 'Salvar', :class => 'botao'
