#opcoes-modal-container
#opcoes-modal
  .header_info_opcoes

#denuncia-modal-container
#denuncia-modal
  .header_info_denuncia
    Denunciar placa
    .denuncia-close

#center-modal-container
#center-modal
  .header_info_center
    Placa
    .center-close
  .header_info_compartilha
    Compartilhar placa
    .compartilha-close

#modal-container
#modal
  .header_info
    Informações da placa
    .close

#foto-modal-container
#foto-modal
  .header_info_fotos
    Fotos do imóvel
    .foto-close