// This partial should be @imported into your layout Sass file, or included via the Asset Pipeline
//

#opcoes-modal-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.0);
  z-index: 2;
}


#opcoes-modal{
  display: none;
  position: absolute;
  width: 205px;
  height:200px;
  right:0%;
  top: 0px;
  
  background: #9FBBA4;
  
  /*box-shadow: 0 2px 30px rgba(0, 0, 0, 0.4);*/

  z-index: 3;

& > .conteudo{

    padding-left: 10px;

  }

}


#denuncia-modal-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  z-index: 2;
}


#denuncia-modal {
  display: none;
  position: absolute;
  width: 375px;
  left:50%;
  margin-left: (-400px - 60px) / 2;

  background: #fff;
  z-index: 3;

  & > .header_info_denuncia {
    background: #BBEBC3;
    height: 25px;
    color: #000;

    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 10px;

    & > .denuncia-close{
      background-image: url(/images/close_icon.png);
      width: 15px;
      height: 15px;
      background-repeat: no-repeat;
      float: right;
      margin-top: 4px;
      background-size: 75%;
    }
  }
  & > .conteudo{
    padding-left: 10px;

  }
}

#center-modal-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  z-index: 2;
}


#center-modal {
  display: none;
  position: absolute;
  width: 375px;
  left:50%;
  margin-left: (-400px - 60px) / 2;

  background: #fff;
  z-index: 3;

  & > .header_info_center {
    background: #BBEBC3;
    height: 25px;
    color: #000;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 10px;

    & > .center-close{
      background-image: url(/images/close_icon.png);
      width: 15px;
      height: 15px;
      background-repeat: no-repeat;
      float: right;
      margin-top: 4px;
      background-size: 75%;
    }
  }
  & > .header_info_compartilha {
    background: #BBEBC3;
    height: 25px;
    color: #000;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 10px;

    & > .compartilha-close{
      background-image: url(/images/close_icon.png);
      width: 15px;
      height: 15px;
      background-repeat: no-repeat;
      float: right;
      margin-top: 4px;
      background-size: 75%;
    }
  }  

  & > .conteudo{
    padding-left: 10px;

  }
}

#modal-container {
#  display: none;
#  position: fixed;
#  top: 0;
#  right: 0;
#  bottom: 0;
#  left: 0;
#  background: rgba(0,0,0,0.4);
}

#modal {
  display: none;
  position: absolute;
  width: 400px;
  right:20px;
#  padding: 2px;
  background: #fff;
#  border: 1px solid grey;
#  border-radius: 6px;
#  -moz-border-radius: 6px;
#  -webkit-border-radius: 6px;

  & > .header_info {
#    background: #F93;
    background: #BBEBC3;
#    border-radius: 4px;
#    -moz-border-radius: 4px;
#    -webkit-border-radius: 4px;
    height: 25px;
    color: #000;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 10px;

    & > .close{
      background-image: url(/images/close_icon.png);
      width: 15px;
      height: 15px;
      background-repeat: no-repeat;
      float: right;
      margin-top: 4px;
      background-size: 75%;
    }
  }

  & > .conteudo{
    padding: 0px 15px 15px 15px;
  }
}

#foto-modal-container {
#  display: none;
#  position: fixed;
#  top: 0;
#  right: 0;
#  bottom: 0;
#  left: 0;
#  background: rgba(0,0,0,0.4);
}

#foto-modal {
  display: none;
  position: absolute;
  width: 375px;
  left:50%;
  margin-left: (-400px - 60px) / 2;
  border: 1px solid grey;
#  border-radius: 6px;
#  -moz-border-radius: 6px;
#  -webkit-border-radius: 6px;
  background: #fff;
  padding: 2px 2px 0 2px;

  & > .header_info_fotos {
    background: #F93;
#    border-radius: 4px;
#    -moz-border-radius: 4px;
#    -webkit-border-radius: 4px;
    height: 25px;
    color: #fff;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 10px;

    & > .foto-close{
      background-image: url(/images/close_icon.png);
      width: 15px;
      height: 15px;
      background-repeat: no-repeat;
      float: right;
      margin-top: 4px;
      background-size: 75%;
    }
  }

  & > .conteudo{
    padding-top: 5px;

    & > .img_principal_placa{
      width:300px;
      height:300px;
      margin-left: 38px;
      margin-top: 5px;
      border: 1px grey solid;
    }
  }
}

