/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

*/

#popupteste{
/*  margin-left: 215px;
  position: absolute;
  margin-top: 3px;*/
  width: 205px
  float: right;
  z-index: 5;
}

body {
  padding: 0px;
  width: 100%;
  height: 100%;
  margin: 0;
  font: 17px/20px 'calibri',sans-serif;
  display: block;
  /* background: #F93 */
  background: #BBEBC3;
}

#barra_topo{
  width: 100%;
  height: 35px;
  background-color: #2D2D2D;
  /*#background: url(../images/barra_topo_bg.png);*/
  position: relative;
}

#topo{
  position: absolute;
  z-index: 1;
  padding-top: 10px;
  /* padding-left: 9px; */
  height: 10px;
  width: 30%;
}

#menu{
  background-color: #9FBBA4;
  width:205px;
  height:50px;
  float: right;
  cursor: pointer;
}

#submenu{
  background-color: #9FBBA4;
  width:250px;
  height:300px;
  float: right;
  opacity: 0.9;
  z-index: 99;
}

#topbox{
  height: 45px;
  width: 100%;
  background-color: #BBEBC3;
  /*visibility:hidden;*/
}

#slider{
  width: 200px; 
  height: 200px; 
  background-color: #FFF;
}

#infobox{
  /*width: 100px;*/ 
  /*padding-top: 100px;*/
  padding-left: 10px;
  height: 100%; 
  /*background-color: #FFF;*/
  background-color: #9FBBA4;
}

#sliderbox{
  height: 800px;
  width: 200px; 
  /*background-color: #BBEBC3;*/
  background-color: #9FBBA4;
  /*visibility:hidden;*/
  opacity: 0.9;
  
}

#border{
  float: right;
  height: 800px;
  width: 10px;
  /*background-color: #9FBBA4;*/
  cursor: pointer;
}

#border2{
  /*float: right;*/
  height: 50px;
  width: 200px;
  background-color: #9FBBA4;
  cursor: pointer;
  float: left;
}

#valor{
  padding-left: 30px;
}

#quartos{
  padding-left: 30px;
}

#tipo{
  padding-left: 30px;
}
#categoria{
  padding-top: 50px;
  padding-left: 30px;
}


#filtros_ocultar{
  /* background-color: #FF9933; */
  background-color: #BBEBC3;

  text-align:left;
  height: 100%;
  width: 100%;
  border-radius: 0 0 0 6px;
  -moz-border-radius: 0 0 0 6px;
  -webkit-border-radius: 0 0 0 6px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  /* border-color: #FF9933; */
  border-color: #BBEBC3;
}

.fechar_filtro{
  /*background-color: #FF9933; */
  background-color: #BBEBC3;
  float: right;
/*  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px; */
  border-width: 0 1px 1px 1px;
  border-style: solid;
  /*border-color: #FF9933; */
  border-color: #BBEBC3;

  cursor: pointer;
  margin-right: -2px;
  margin-top: -1px;
  padding: 3px 10px 3px 10px;
}

#formulario {
  text-align: left;
  border:1px solid #333;
}

#corpo
{

}

#toggleButton{
  height: 20px;
  width: 40px;
  background-color: Red;
  float: right;
  margin: 10px;
  cursor: pointer;
}

#toggleBtn{    
  float: right;
  padding: 5px;
}​

#corpopaginalogin
{
  position: relative;
  top: 100px;
  color: #000000;
  width:350px;
  margin:0px auto;
  padding:1px;
  background-color:#eee;
/*
  border-radius: 12px;
  -webkit-border-radius: 12px;
*/
}

#corpopagina
{
  position: relative;
  top: 8px;
  color: #000000;
  width:800px;
  margin:0px auto;
  padding:1px; 
  
  background-color:#eee;
/*  border-radius: 12px;
  -webkit-border-radius: 12px; */
}

.field{
  padding-left: 20px;
}

.actions{
  padding-left: 20px; 
}

#corpopaginaimobiliaria
{
  position: relative;
  top: 10px;
  color: #000000;
  width:500px;
  margin:0px auto;
  padding:1px;
  
  background-color:#eee;
/*
  border-radius: 12px;
  -webkit-border-radius: 12px;
*/
}
#corpopaginaplaca
{
  position: relative;
  top: 10px;
  color: #000000;
  width:950px;
  margin:0px auto;
  padding:1px;
  
  background-color:#eee;
/*
  border-radius: 12px;
  -webkit-border-radius: 12px;
*/
}

 #mapedit{
  width:100%;
  height:330px;
 }


#logo{
  background:transparent url(../images/logo100.png)
  no-repeat 0% 0%;
  width:150px;
  height:40px;
  margin-left: 40px;
  position: absolute;
  margin-top: 3px;
}

#footer{

  background-color: #333232;
  position: fixed;
  bottom:-60px;
  text-align: center;
  width: 100%;
  height: 80px; 
 
}

.div_campo_pesquisa {
  margin-top: 42px;
  margin-left: 180px;
  float: left;
}

.campo_pesquisa {
#  float: left;
#  font-size-adjust: none;
#  font-stretch: normal;
#  font-style: normal;
#  font-variant: normal;
#  font-weight: normal;
#  line-height: normal;
#  padding: 4px 0 0 6px;
#  vertical-align: top;
#  width: 400px;
#  padding-top: 2px;
}

.filtros{
  float: left;
  margin-left: 180px;
  width: 800px;
  /*margin-top: 45px; */
}

.links_opcoes_left{
  float: left;
}

.links_opcoes_right{
  float: right;
}

#mapa{
  /*margin-top: 10px; */
  height: 88%;
  /*width: 99%;
  position: absolute; */
}

.map_container{
  height:100%;
  position: relative;
}

.lbl_ocultar{
  cursor: pointer;
}


.botao {
  -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
/*  -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1; */
/*  box-shadow:inset 0px 1px 0px 0px #fce2c1; */
/*  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fc8b00), color-stop(1, #fc8b00) ); */
  background:-moz-linear-gradient( center top, #ffc477 5%, #fc8b00 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fc8b00');
  background-color:#BBEBC3;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:1px;
  border:0px solid #eeb44f;
  display:inline-block;
  color:#000;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:4px 24px;
/*  text-decoration:none;
  text-shadow:1px 1px 0px #cc9f52; */
}.botao:hover {
/*  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fc8b00), color-stop(1, #ffc477) );
  background:-moz-linear-gradient( center top, #fc8b00 5%, #ffc477 100% );
*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8b00', endColorstr='#ffc477');
  background-color:#ffc477;
}.botao:active {
  background-color:#fc8b00;
  position:relative;
  top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
