.map_container {
/*
  margin:0px auto;
  padding: 3px;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 98%;
  background-color:#eee;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  border: 1px solid #FF9933;
*/
  width: 100%;
}

.new_map_container {
/*
  margin:0px auto;
  padding: 3px;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 98%;
  background-color:#eee;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  border: 1px solid #FF9933;
*/
  width: 90%;
}

.gmaps4rails_map {
  width: 100%;
  height: 100%;
  margin:0px auto;
  padding: 22px;
/*  border-color: #ccc #ccc #999 #ccc; */
/*  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px; */
/*  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px; */
/*  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px; */
  width: 98%;
  background-color:#eee;
/*  border-radius: 12px; */
/*  -webkit-border-radius: 12px; */
  
/*  border: 1px solid #FF9933; */


/*  border: 1px solid #BBEBC3; */



}

.bing_map {
   position: absolute;
   top: 20;
   left: 10;
   width: 400px;
   height: 400px;
   border:#555555 2px solid;
}

