// Place all the styles related to the imobiliaria controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#imobiliarium_nome{
	margin-left: 3px;
	width: 300px; 
}

#imobiliarium_cnpj{
	margin-left: 46px;
	width: 130px; 
}

#imobiliarium_Site{
	margin-left: 51px;
	width: 300px; 
}

#imobiliarium_Email{
	margin-left: 39px;
	width: 300px; 
}

#imobiliarium_Telefone{
	margin-left: 18px;
	width: 100px; 
}

#imobiliarium_Endereco{
	margin-left: 13px;
	width: 300px; 
}

#botao{
	#margin-left: 170px;
}