// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.addlista{
  cursor:pointer;
  text-decoration: underline;
  &:hover, &:active {
      color: #000;
  }
}


.showcompartilha{
  background-image: url(/images/envia_email.png);
  width: 35px;
  height: 35px;

  background-repeat: no-repeat;
  cursor:pointer;
  float: right;
  text-decoration: underline;
  &:hover, &:active {
      color: #000;
  }
}

.showdenuncia{
  background-image: url(/images/denuncia.png);
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  cursor:pointer;
  float: right;
  text-decoration: underline;
  &:hover, &:active {
      color: #000;
  }
}

.showfotos{
  cursor:pointer;
  text-decoration: underline;
  &:hover, &:active {
      color: #000;
    }
}

.compartilha-close{
  cursor:pointer;
  &:hover, &:active {
      color: #000;
    }
}

.denuncia-close{
  cursor:pointer;
  &:hover, &:active {
      color: #000;
    }
}

.close{
  cursor:pointer;
  &:hover, &:active {
      color: #000;
    }
}

.center-close{
  cursor:pointer;
  &:hover, &:active {
      color: #000;
    }
}

.foto-close{
  cursor:pointer;
  &:hover, &:active {
      color: #000;
    }
}

.fotos{
	height: 230px;
}

.foto {
  border: solid 1px #CCC;
  padding: 10px 10px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.foto .descricao {
  padding-top: 5px;
  text-align: center;
  font-weight: bold;
}

.foto .image_placeholder {
  width: 200px;
  height: 150px;
  background-color: #B6B6B6;
}

.foto .actions {
  font-size: 10px;
  text-align: center;
  color: #777;
}

.fotos_placa{
  height: 80px;
  padding: 10px 25px;
}

.foto_placa {
  border: solid 1px #CCC;
  float: left;
  height: 70px;
  width: 70px;
}

.foto_placa img {
  height: 70px;
  width: 70px;
}

.descricao_foto{
  margin-left: 38px;
}

#placa_desc{

}

#placa_endereco{
  width: 510px; 
}

#pesquisa{
  margin:0px auto;

}


#location_search {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
margin: 6px 0 0 40%;
font: normal 12px Arial,Helvetica,sans-serif;
border: 0;
height: 33px;
width: 100%;
background-color: white;
position: absolute;
float: left;
outline: none;
color: silver;
max-width: 400px;
padding-left: 10px;
line-height: 15px!important;
}



#placa_valor{
  width: 100px; 
}

#placa_obs{

}

.corpo_detalhe{
  width: 912px;
  background-color: #EEE;
  float: left;
  margin-left: -1px;
  padding: 20px 20px 40px 20px;

  & > .coluna_esquerda{
    width: 555px;
    float: left;

    & > .carrossel_fotos{
      width: 550px;
      height: 550px;
      background-color: white;
      border: 1px solid #F93;

      & > .img_principal_placa {
        width: 500px;
        height: 400px;
        margin: 25px 25px;
      }

      & > .fotos_placa {
        height: 80px;
        padding: 0px 95px;
      }
    }

    & > .botoes_placa_detalhe{
      margin-top: 10px;
      height: 15px;
      padding: 10px;
      border-top: 1px solid #F93;
      border-bottom: 1px solid #F93;
      width: 533px;

      & > li{
        float: left;

        & > a{
          text-decoration: none;
          padding: 3px 6px 0 19px;
          font-weight: bold;
          font-size: 13px;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      & > .add_lista{
        background: url(/images/add_lista.png) no-repeat;
        border-right: 1px solid #F93;
        margin-right: 7px;
      }

      & > .compartilha_email{
        background: url(/images/envia_email.png) no-repeat;
      }

      & > .showdenuncia{
        background: url(/images/envia_email.png) no-repeat;
      }
    }

    & > .sobre_imovel{
      .header{
        background: #F93;
        height: 25px;
        color: white;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 0px;
        padding-left: 20px;
        padding-right: 10px;
      }

      .conteudo{
        padding-left: 5px;
      }
    }

    & > .valores{
      .header{
        background: #F93;
        height: 25px;
        color: white;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 0px;
        padding-left: 20px;
        padding-right: 10px;
      }

      .conteudo{
        padding: 0px 5px;

        & > p{
          & > span{
            float: right;
          }
        }
      }
    }
  }

  & > .coluna_direita{
    float: left;
    width: 307px;
    margin-left: 50px;

    & > .imobiliaria_info{
      height: 150px;
      border: 1px solid #F93;
      background-color: white;
      padding: 10px 20px;

      & > .logo{
        float: left;
        & > a{
          & > img{
            width: 100px;
            height: 160px;
          }
        }
      }

      & > .texto{
        float: left;
        width: 155px;
        margin-top: 53px;
        margin-left: 10px;

        & > .nome_imobiliaria{
          text-decoration: none;
          font-weight: bold;
        }

        & > p{
          margin: 10px 0px;
          font-size: 13px;
        }
      }
    }

    & > .fazer_proposta{
      margin-top: 30px;
      border: 1px solid #F93;
      background-color: white;
      padding: 1px;

      & > .header{
        background: #F93;
        height: 25px;
        color: white;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 0px;
        padding-left: 20px;
        padding-right: 10px;
      }

      & > .campos{
        padding: 10px;
      }
    }
  }
}

.corpo_placa_show{
  width: 912px;
  background-color: #EEE;
  float: left;
  margin-left: -1px;
  padding: 20px 20px 40px 20px;

  & > .fotos{
    height: 200px;
    background-color: #fff;
    padding: 15px;

    & > .add_foto{
      background: url(/images/add_foto.png) no-repeat;
      width: 230px;
      height: 40px;
      padding-left: 40px;
      padding-top: 5px;
      cursor: pointer;

      & > a{
        text-decoration: none;

        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

#thumb_foto_placa_show{
  height: 125px;
}
#acoes_foto_placa_show{
  padding-left: 95px;
}

