body {
  margin:0;
  padding:0;
  height:100%;
}

p, ol, ul, td {
  #font-size: 13px;
  line-height: 16px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: black; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: red; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 330px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }


.main_text_footer{
  color: #FFFFFF;
  font-size:15px;  
  font-weight: bold;
  font-family: 'calibri', 'PT Sans', arial, serif;
}

#sitelinks{
  padding-top: 7px;
  padding-right: 20px;
}

.sitelink{
  font-weight: bold;
  float:left;
  padding-left: 5px;
  padding-right: 5px;
}


#header{
  background: #BBEBC3;
  /* background: #FF9933; */
  /* height: 30px;  bem pequeno ou melhor sem...  */
}
.main_text_dark{
  font-family: calibr, 'PT Sans', arial, serif;
  font-size:13px;
  line-height:20px;
}

.main_text_dark a{
  text-decoration:none;
  color: #1e6c7b;
}

.main_text_dark a:hover{
  /* color: #3d3d3d; */
}

.main_text_light{
  color: #bbb;
  font-size:14px;   
  font-family: calibri, 'PT Sans', arial, serif;
}

.main_text_footer{
  font-size:14px;   
  font-family: calibri, 'PT Sans', arial, serif;
}

.main_text_light a{
  color: #bbb;
  text-decoration: none;
}

.main_text_light a:hover{
  color: #FFFFFF;
  text-decoration: none;
  background: none;
}

a:focus {
  outline: none;
  border: 0;
}

