// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#loginform
{
	
	color: #000000;
	width:400px;
	margin:0px auto;
	padding:15px;
	border: 1px solid black;
	background-color:#eee;
}

#login
{
	margin-left: 3px;
	width: 300px; 
}

#senha
{
	width: 300px; 
}

.header_info {
    /*background: #F93; */
    background: #BBEBC3;
/*    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; */
    height: 25px;
    color: #000;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 10px;
}