// Place all the styles related to the usuarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#usuario_login
{
	margin-left: 3px;
	width: 300px; 
}

#usuario_senha
{
	width: 300px; 
}

#usuario_senha_confirmation
{
	width: 300px; 	
}