#corpopagina
  .header_info
    Minha lista de interesse
  %p

  %table
    %tr
      %th id
      %th Tipo
      %th Categoria
      %th Descrição
      %th Endereço
      %th
    - @placas.each do |placa|
      %tr
        %td= placa.id
        %td= placa.tipo_placa.desc
        %td= placa.categoria_placa.desc
        %td= placa.desc
        %td= link_to placa.endereco, placa
        - if placa.ocultar?
          %td="Oculto"
        -else
          %td=placa.endereco
        %td= link_to "remover da lista", placa_removerlista_path(placa)
