= form_for @tipo_placa do |f|
  -if @tipo_placa.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tipo_placa.errors.count, "error")} prohibited this tipo_placa from being saved:"
      %ul
        - @tipo_placa.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :desc
    = f.text_field :desc
  .actions
    = f.submit 'Save'
