#corpo
  .header_info
    Listar tipo placa
  %p
  %table
    %tr
      %th Desc
      %th
      %th
      %th

    - @tipo_placas.each do |tipo_placa|
      %tr
        %td= tipo_placa.desc
        %td= link_to 'Show', tipo_placa
        %td= link_to 'Edit', edit_tipo_placa_path(tipo_placa)
        %td= link_to 'Destroy', tipo_placa, :confirm => 'Are you sure?', :method => :delete

  %br

  = link_to 'New Tipo placa', new_tipo_placa_path
