= form_for @foto, :html => {:multipart => true} do |f|
  -if @foto.errors.any?
    #error_explanation
      %h2= "#{pluralize(@foto.errors.count, "error")} prohibited this foto from being saved:"
      %ul
        - @foto.errors.full_messages.each do |msg|
          %li= msg
  
  = f.hidden_field :placa_id

  .field
    = f.label :descricao
    = f.text_field :descricao
    %p= f.file_field :imagem
  .actions
    = f.submit 'Salvar', :class => 'botao'
    = link_to 'Cancelar', placa_path(:id => params[:placa_id]), :class => 'botao', :style => 'color: white; text-decoration: none; height: 18px; padding-top: 3px;'
