%h1 Listing fotos

%table
  %tr
    %th Descricao
    %th
    %th
    %th

  - @fotos.each do |foto|
    %tr
      %td= foto.descricao
      %td= link_to 'Show', foto
      %td= link_to 'Edit', edit_foto_path(foto)
      %td= link_to 'Destroy', foto, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Foto', new_foto_path
