#corpopaginalogin
  .header_info
    Placa
  %p
  %p#notice= notice

  %p
    %b Descricao:
    = @foto.descricao
    = image_tag @foto.imagem_url(:thumb).to_s

  = link_to 'Edit', edit_foto_path(@foto)
  \|
  = link_to 'Back', placa_path(:id => @foto.placa_id)
