%p
= form_tag "/placas/"+@placa.id.to_s+"/compartilha" do
  %p
    = label_tag 'Seu nome:'
    %br
    = text_field_tag 'nome'
  %p
    = label_tag 'Seu email:'
    %br
    = text_field_tag 'email'
  %p
    = label_tag 'Destinatário:'
    %br
    = text_field_tag 'destinatario'
  %p
    = label_tag 'Email destinatário:'
    %br
    = text_field_tag 'emaildestinatario'
  %p

    = submit_tag 'Enviar', :class => 'botao'

    