%html
  %head
    %title Nomade
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = yield
    = yield :scripts
    = render 'usuarios/modal' 
    #atual
    #indice